.last-list ul {
  display: flex;
  flex-wrap: wrap;           /* allow wrapping */
  justify-content: left;   /* center items horizontally */     
  text-align: left;       /* row & column spacing */
  list-style: none;
  gap:5px;
  margin: 0;
  padding: 0;
}

.last-list li {          /* item takes only as much space as its content */
  white-space: nowrap;       /* prevent text breaking */
  font-size: 14px;
  color: #666;
  padding: 6px 10px 0 0;
  float:left;
}

/* force 3 items in first row, 3 in second */
/* .last-list li:nth-child(3n) {
  margin-right: 10%;         pushes next item to a new row after every 3rd 
} */

                                                        








