@font-face {
    font-family: Airbnb;
    /* src: url(fonts/MWFFluentIcons.woff2); */
    src: url(fonts/mwfmdl2-v3.54.woff);
}

:root {
    --main-font: Azure;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: var(--root-font-family-headings, var(--root-font-family-segoe-variable-display)); */
}

body {
    width: 100%;
    height: 100%;
    background-color: #f4fafd;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1 0 0 0 solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

.header {
    display: flex;
    background-color: white;
}

button {
    background: transparent;
    border: none;
    margin: 2px 6px 1px 2px;
    padding: 8px 8px 8 px 0;
}

.header .search {
    margin: 0 0 0 4px;
    left: 0;
    left: 10px;
    position: absolute;
}

button .img {
    font-family: azure;
    content: "";
    forced-color-adjust: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}

.logo {
    display: flex;
    margin: 1px;
    padding: 12px 4px;
    align-items: center;
    justify-content: center;
}

.logo .c-image {
    width: 108px;
    height: 23;
    margin: -3px 0px 0px;
    align-items: center;
    justify-content: center;
}


/* drop-down-button */

.dropdown {
    left: 0;
    height: 34px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    font-size: 15px;
    outline-offset: -3px;
}

/* Button */

.dropbtn {

    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 100%;
    margin: 0 1px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;

}


.icon-down .icon-up {
    padding-top: 5px;
}

.icon-up {
    display: none;
}

.dropdown:hover .icon-down {
    display: none;
}

.dropdown:hover .icon-up {
    display: block;
}

/* sub-menu-button-action */

.icon-up2 {
    display: none;
}

.sub-dropdown:hover .icon-down2 {
    display: none;
}

.sub-dropdown:hover .icon-up2 {
    display: block;
}

/* anchor to left side of the screen */
.sub-dropdown>a.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    text-decoration: none;
    color: #222;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}


/* Dropdown */

.dropdown-content {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
    min-width: 200px;
    box-shadow: 6px;
    z-index: 1000;
    width: 100%;
    cursor: pointer;



}

/* lists */

a {
    padding: 12px 8px 13px 15px;

}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

/* Show main dropdown */

.dropdown:hover .dropdown-content {
    display: block;
}

/* submenu inside main dropdown */

.sub-dropdown-content {
    display: none;
    padding-left: 15px;
    background: #fafafa;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}



.second-sub-dropdown-content {
    display: none;
    padding-left: 15px;
    background: #fafafa;
}

.second-sub-dropdown:hover .second-sub-dropdown-content {
    display: block;
}

/* dropdown ended */

/* advertisement */
/* .advertisement{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width:100%;
    height:89px;
    background-color:#006DC1;
    flex-grow: 1;
}

.adds{      
    justify-content:space;                                                                    
    display: flex;
    padding:0 4px;
    display:inline;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    width:448px;
    height:73px;
    text-align: center;
    padding-left: 15px;
     line-height: 22px;
}

.adds p{
    text-align: center;
    font-size: 15px;
   
}
.adds a{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    bottom:20px;
    margin:0px;
   
}

.close{
    display: flex;
    align-self: flex-end;
    margin-bottom: 40px;
    padding:12px 33.562px 12px 12px;
};

.close svg {
   padding:12px 33.562px 12px 12px;
}

.close:hover .advertisement{
    display:none;
} */
/* advertisement ended */

/* hero-banner */

.banner {
    top: 37px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

/* hero-img */

.main {

    background-color: #f4fafd;
}

.main-section {
    padding: 0px 0px 56px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* max-width:26vw; */
    width: 100%;

}

.text {
    align-items: center;
    margin-top: 2rem;
    padding: 0 16px;
    height: auto;
    width: 90%;
    text-align: initial;
    /* animation: fade-in var(--animation-duration), slide-up var(--animation-duration) ease-in-out 0s 1 normal none; */

}

.info p {
    color: #17253d;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08px;
    line-height: 1rem;
    box-sizing: border-box;
    text-align: initial;
    margin: 0 0px 12px;
    width: 100%;
}

.para-info p {
    margin: 16px 0px 0px;
    padding: 0px 15px 0px 0px;
    color: #17253D;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
}

h1 {
    font-weight: 500;
    font-size: 38px;
    width: 100%;
}

.btn-gp {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.action-btn {
    border-radius: 10px;
    background-color: #0078d4;
    border: 2px solid #0078d4;
    padding: 12px;
    text-align: center;
    margin-top: 1.5rem;
}

.action-btn button {
    font-size: 15px;
    color: white;
    font-weight: 600;
    width: 100%;
}

.second-action-btn {
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 2px solid #17253d;
    padding: 12px;
    text-align: center;
}

.second-action-btn button {
    color: #17253D;
    font-size: 15px;
    font-weight: 600;
}

.main-banner img {
    object-fit: inherit;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}

.news-drop-down {
    padding: 14px;
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.267);
    color: #004275;
    border-bottom: 4px solid #004275;
    font-size: 16px;
    font-weight: 600px;
}

.news-drop-down a {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


.highlight-main {
    margin-top: 3.5rem;
    margin-bottom: 56px 0 0 0;
    padding: 0 1.1rem;
}

.highlight-main h2 {
    font-size: 29px;
    font-weight: 600;
}

.card-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    padding-bottom: 3.5rem;
}

.card {
    border-radius: 10px;
    display: flex;
    max-width: 515px;
    width: 100%;
    box-shadow: 0 0 0.125rem var(--root-depth-color-1, rgba(0, 0, 0, 0.12)), 0 0.125rem 0.25rem var(--root-depth-color-2, rgba(0, 0, 0, 0.14));
}

.card1 {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(107, 107, 107, 0.192);
    width: 100%;
}

.card-img {
    padding: 0.5rem 0.5rem 0;
    height: auto;
    object-fit: inherit;
    aspect-ratio: var(--image-aspect-ratio);
}

.card-img img {
    width: 26.3vw;
    width: 100%;
    border-radius: 10px;
}

.card-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
}

.card-content span {
    font-size: 18px;
    font-weight: 600;
}

.card-text {
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    column-gap: 10px;
}

.card-text span {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5rem;
    padding-bottom: 15px;
}

.card-text div {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    letter-spacing: 0px;
    margin: 0;
    text-align: left;
}
/* //////////button and text on side by side//////////// */
.block-slim {
    margin-top: 30px;
    display: flex;
    gap: .4rem;
}

.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078d4;
    padding: 8px 9px;
    border-radius: 7px;
    margin: 0;
}

.block-slim a {
    font-size: 14px;
    display: flex;
    color: #004275;
    font-weight: 600;
    padding: 0;
    align-items: center;
    justify-content: center;
}
/* ////////solution///////// */
.solution {
    padding: 56px 1.1rem;
   
}
.solution-text p {
    text-transform: uppercase;
    margin-bottom: .75rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .08em;
}

.solution-text h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 0;
}

.solution-text {
    margin-bottom: 40px;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.329);
}

.slider::-webkit-scrollbar {
    display: none;
}

.pill-btn {
    flex: 0 0 auto;
    padding: 8px 18px;
    border: none;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
    background: #e6f0f8;
    color: #004080;
    transition: all 0.3s;
    font-weight: 500;
}

.pill-btn.active {
    background: #004f9f;
    color: #fff;
    font-weight: 600;
}

.arrow-btn {
    display: flex;
    width: 36px;
    height: 36px;
    border: 2px solid #004080;
    border-radius: 100%;
    background: #ffffff62;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #004080;
    transition: background 0.3s;
}

.arrow-btn:hover {
    background: #f0f6ff;
}

.solution-sub-text {
    margin-top: 30px;
}

.solution-sub-text span {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 1.5rem;
}

/* /////////solution-accordion//////////// */

.accordion {
    border-bottom: 1.3px solid #cccccc8e;
}

/* Hide checkbox */
.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 540;
    cursor: pointer;
    padding: 24px 0;
    line-height: 1.5rem;


}

/* Arrow indicator */
/* .accordion label i{
      content: "";
      transition: transform 0.3s ease;
    } */

/* Rotate arrow when open */
.accordion input:checked+label i {
    transform: rotate(-180deg);
}

.content {
    max-height: 0;
    /*collapse to 0 height*/
    /*how this work =>.1 by default  the content squeezed t0 0px tall(like we fold the paper). */
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0px;
}

/* When you click the checkbox in the accordion, 
    we’re not actually showing/hiding with 
    display: none. Instead, we use a CSS trick 
    with max-height + overflow: hidden. */

.accordion input:checked~.content {
    max-height: 400px;
    /* enough space for content */
    padding: 0px;
}

/*how this work =>.2 when the checkbox checked
    (input:checked~.content) the content area expends to 200px. 
    Since we set transition, it animate smoothly  */

.content p {
    color: #17253D;
    font-size: 15px;
    line-height: 1.5rem;
    width: 100%;
    margin-bottom: 24px;
}

.section-content {
    display: flex;
    flex-direction: column;
}

.section-content a {
    margin-bottom: 1.5rem;
    color: #004275;
    padding: 0 0 2px;
    font-size: 14px;
    font-weight: 550;
}

.section-content img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.products-services {
    padding: 56px 1.1rem;
    margin:  0;
}

.product-service-text p {
    text-transform: uppercase;
    margin-bottom: .75rem;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .08em;
}

.product-service-text h2 {
    font-size: 29px;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 30px;
}
.product-card-combo{
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
/* //////////////////////promo card///////////////////////////// */

.promo-card-section{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
}

.image-box {
  position: relative;
 /*  max-width: 265px; match your image size */
  max-height: 428px;
  height:200vh;
  width:100%;
  overflow: hidden;
  
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5%;
  /* box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15); */
}

.promo {
  position: absolute;
  inset: 0;
  display: flex;
  flex:1;
  align-items: flex-end; /* push overlay content to bottom */
  padding: 16px;
  border-radius: 5%;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
}
.safe-area {
  flex: 1; 
  width:100%; 
  background: transparent;                    
} 

.overlay {
  color: #000000;
  border-radius: 0 0 120px 200px;
  
}

.overlay h3 {
  font-size: 24px;
  font-weight:500;
  margin: 0 0 6px;
  color: #0e1726;
}

.overlay p {
  font-size: 15px;
  margin: 0 0 12px;
  color:#17253d;
  line-height: 1.5rem;
}

.card-button {
  display: inline-block;
  background: #0078d4; /* Azure blue */
  color: #ffffff;
  text-decoration: none;
  padding: 9px 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  width:100%;
}
                      
.card-button:hover {
  background-color: #004275;
}
/* ////////////////////////////small cards///////////////////////// */
.promo-cards{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.small-card{
    display: flex;
    flex-direction: column;
    padding:1rem; 
    position:relative;
    min-width:1px;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #ffffff;
    border-radius: 5%;
    border: 2px solid rgba(129, 116, 116, 0.164);
    gap:18px;
}
.promo-badge {
   display: flex;
   width:100%;
   max-width:1.5rem;
   border:1.5px solid rgba(129, 116, 116, 0.068);
   align-items: center;
   padding:12px;
   border-radius: 15%;
}
.promo-card-text{
    display: flex;
    flex-direction:column;
    gap:15px;
}

.promo-card-text span{
    font-size:18px;
    font-weight:500;
    color:#0e1726;
}
.promo-card-text p{
    color:#17253D;
}
.small-card a{
    padding:0;
    font-size:14px;
    font-weight:500;
    color:#004275;
}

.background img{
    object-fit:cover;
    width:100%;
    height: 100%;
    vertical-align: middle;
}


/* ////////////gartner///////////// */

.gartner-card-body{
    padding:0 20px;
    display:flex;
    justify-content: start;
    align-items: center;
    height:100vh;
    background:url("img/microsoft-background-1600x690.avif") no-repeat center center/cover;
}
.gartner-card{
    background:#fff;
    width:100%;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.1);
    padding:8px;
}

.gartner-card-img img{
    border-radius:12px;
    width:100%;
}
.gartner-card-text h3{
font-size :18px;
margin-bottom:10px;
color:#0e1726;
font-size:24px;
font-weight:500;
line-height:32px;
}

.gartner-card-text p{
    font-size:18px;
    color:#17253D;
    line-height:1.75rem;
    margin:14px 0;
    padding-bottom: 25px;
}

.gartner-card-text button{
    background:#0078d4;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
    width:100%;
}

.gartner-card-text{
    margin-top:35px;
    padding: 5px 5px 10px;
}

.resources{
    padding: 0 20px;
}

.resources-body{
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    padding:48px 0px 0;
    margin:0 0 24px;
}

.resources-text p {
    font-size: 12px;
    color:#17253D;
    margin-bottom: 12px;
    letter-spacing: 0.08em;
    font-weight: 500;
}

.resources-text h2{
    font-size:32px;
    color:#0e1726;
    font-weight:500;
}

/* ///////////resources-slider/////////// */

   .azure-services{
    padding:25px 15px 10px;
    box-sizing: border-box;
}
.slider-services {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    border-radius: 12px;
    border: .1px solid rgba(128, 128, 128, 0.185);
    background-color: rgba(255, 255, 255, 0.329);
}

.slider-services::-webkit-scrollbar {
    display: none;
}

.slide-btn {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 0 0 auto;
    padding: 12px 16px 16px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    font-size: 16px;
    cursor: pointer;
    background: #ffffff;
    color:#0e1726 ;
    transition: all 0.3s;
    font-weight: 500;
    width:100%;
    max-width:220.67px;
    text-align: left;
    margin:0;
}

.slide-btn.active {
    padding:12px;
    border-bottom: 4px solid #004f9f;
}

.services-button{
  display: flex;
  gap:10px;
  margin-top:24px;
}
.ser-btn{
  padding:4.34px 8px;
  border-radius: 100%;
  border:2px solid #004275;
  background: transparent;
  align-items: center;
  margin:0;
}