@font-face {
    font-family: Airbnb;
    /* src: url(fonts/MWFFluentIcons.woff2); */
    src: url(fonts/mwfmdl2-v3.54.woff);
}

:root {
    --main-font: Azure;
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: var(--root-font-family-headings, var(--root-font-family-segoe-variable-display)); */
 }

body{
    width: 100%;
    height: 100%;
    background-color: #f4fafd;
   }


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1 0 0 0 solid black;
    width: 100%;
    height: 100%;
    background-color: white;
}

.header{
    display: flex;
    background-color: white;
}

button {
    background: transparent;
    border: none;
    margin: 2px 6px 1px 2px;
    padding: 8px 8px 8 px 0;
}

.header .search {
    margin: 0 0 0 4px;
    left: 0;
    left: 10px;
    position: absolute;
}

button .img  {
    font-family: azure;
    content: "";
    forced-color-adjust: none;
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2px;
    position: relative;
    text-indent: 0;
    vertical-align: sub;
}

.logo {
    display: flex;
    margin: 1px;
    padding: 12px 4px;
    align-items: center;
    justify-content: center;
}

.logo .c-image {
    width: 108px;
    height: 23;
    margin: -3px 0px 0px;
    align-items: center;
    justify-content: center;
}


/* drop-down-button */

.dropdown {
    left: 0;
    height: 34px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    font-size: 15px;
    outline-offset: -3px;
}

/* Button */

.dropbtn {
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 100%;
    margin: 0 1px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}


.icon-down .icon-up {
    padding-top: 5px;
}

.icon-up {
    display: none;
}

.dropdown:hover .icon-down {
    display: none;
}

.dropdown:hover .icon-up {
    display: block;
}

/* sub-menu-button-action */

.icon-up2 {
    display: none;
}

.sub-dropdown:hover .icon-down2 {
    display: none;
}

.sub-dropdown:hover .icon-up2 {
    display: block;
}

/* anchor to left side of the screen */
.sub-dropdown>a.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    text-decoration: none;
    color: #222;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}


/* Dropdown */

.dropdown-content {
    display: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
    min-width: 200px;
    box-shadow: 6px;
    z-index: 1000;
    width: 100%;
    cursor: pointer;


}

/* lists */

a {
    padding: 12px 8px 13px 15px;

}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

/* Show main dropdown */

.dropdown:hover .dropdown-content {
    display: block;
}

/* submenu inside main dropdown */

.sub-dropdown-content {
    display: none;
    padding-left: 15px;
    background: #fafafa;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}



.second-sub-dropdown-content {
    display: none;
    padding-left: 15px;
    background: #fafafa;
}

.second-sub-dropdown:hover .second-sub-dropdown-content {
    display: block;
}

/* dropdown ended */

/* advertisement */
/* .advertisement{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width:100%;
    height:89px;
    background-color:#006DC1;
    flex-grow: 1;
}

.adds{      
    justify-content:space;                                                                    
    display: flex;
    padding:0 4px;
    display:inline;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    width:448px;
    height:73px;
    text-align: center;
    padding-left: 15px;
     line-height: 22px;
}

.adds p{
    text-align: center;
    font-size: 15px;
   
}
.adds a{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    bottom:20px;
    margin:0px;
   
}

.close{
    display: flex;
    align-self: flex-end;
    margin-bottom: 40px;
    padding:12px 33.562px 12px 12px;
};

.close svg {
   padding:12px 33.562px 12px 12px;
}

.close:hover .advertisement{
    display:none;
} */
/* advertisement ended */

/* hero-banner */

.banner {
    top: 37px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

/* hero-img */

.main{
    
    background-color: #f4fafd;
}

.main-section{
    padding:0px 0px 56px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* max-width:26vw; */
    width:100%;

}

.text{
    align-items: center;
    margin-top: 2rem;
    padding:0 16px;
    height:auto;
    width:90%;
    text-align: initial;
    /* animation: fade-in var(--animation-duration), slide-up var(--animation-duration) ease-in-out 0s 1 normal none; */
    
}

.info p {
    color:#17253d;
    font-size: 12px;
    font-weight:600;
    letter-spacing: 0.08px;
    line-height: 1rem;
    box-sizing: border-box;
    text-align: initial;
    margin:0 0px 12px;
    width: 100%;
}

.para-info p{
    margin:16px 0px 0px;
    padding: 0px 15px 0px 0px;
    color:#17253D;
    font-family: inherit; 
    font-size:15px;
    line-height: 1.4rem;
    width:100%;
}

h1{
    font-weight: 500;
    font-size: 40px;
    width:100%;
}

.btn-gp{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width:100%;
}

.action-btn{
    border-radius: 10px ;
    background-color:#0078d4 ;
    border:2px solid #0078d4;
    padding:12px;
    text-align: center;
    margin-top:1.5rem;
    
    
}

.action-btn button{
    font-size: 15px;
    color:white;
    font-weight: 600;  
    width:100%;
}

.second-action-btn{
    border-radius: 10px;
    background-color: #f2f2f2;
    border:2px solid #17253d;
    padding:12px;
    text-align: center;
    
}

.second-action-btn button{
    color:#17253D;
    font-size:15px;
    font-weight: 600;
}

.main-banner img{
    object-fit:inherit ;
    border-radius: 10px;
    height:100%;
    width:100%;
    margin-bottom: 2rem;
}

.news-drop-down{
    padding: 14px;
    background-color: white;
    border-top:1px solid rgba(128, 128, 128, 0.267);
    color:#004275;
    border-bottom: 4px solid #004275;
    font-size: 16px;
    font-weight:600px;
}
.news-drop-down a{
    font-size: 14px;
    font-weight:600;
    margin: 0;
    padding:0;
}


.highlight-main{
 margin-top:3.5rem;
 padding: 0 1.1rem;
    
}

.highlight-main h2{
    font-size: 29px;
    font-weight:600;
}

.card-section{
  margin-top: 2rem;
}

.card{
    display:flex;
    max-width: 515px;
    width:100%;
}

.card1{
    background-color:white;
    border-radius: 10px;
    border:2px solid rgba(107, 107, 107, 0.192);
    width:100%;
}

.card-img{
    padding:0.5rem 0.5rem 0;
    height:auto;
    object-fit: inherit;
    aspect-ratio: var(--image-aspect-ratio);
}
.card-img img{
    width:26.3vw;
    width:100%;
    border-radius: 10px;
}

.card-content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    justify-content: space-between;
}

.card-content span{
     font-size: 18px;
     font-weight: 600;
}

.card-text{
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    column-gap:10px;
}
.card-text span{
    width: 100%;
    font-size: 18px;
    line-height: 1.5rem;
    padding-bottom:15px;
}

.card-text div{
   font-weight:400;
   font-size:16px;
   line-height:1.5rem;
   letter-spacing: .03em;
   margin:0;
}

.block-slim{
    margin-top:32px;    
}

.btn-action{
    background-color: #0078d4;
    padding: 8px 10px;
    border-radius: 5px;
    margin:0;
}

.block-slim a{
    color:#004275;
    font-weight: 600;
}
